.cartButton {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 .5rem;
  cursor: pointer;
}
.cartIcon {
  width: 24px;
  height: 24px;
  margin: 18px 0;
}
.numberOfItems {
  font-size: .8rem;
  font-weight: 700;
  width: 10px;
  line-height: 60px;
}
.cartButton:hover svg, .cartButton:hover .numberOfItems {
  opacity: .6;
}