.header {
  width: 100%;;
  height: calc(100vh - 60px);
  margin-top: 60px;
  padding: 0 1rem;
  background: linear-gradient(180deg, rgb(0, 0, 0, 0.6), rgba(0,0,0, 0.6)), url(../assets/header-background.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.header div {
  text-align: center;
}
.header h3 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  color: #FF5638;
}
.header p {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 200;
  color: #FAA419;
}
.header a {
  font-size: 1rem;
  color: white;
  background: linear-gradient(45deg, #FAA419, #FF5638);
  width: 170px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
}
.header a:hover {
  color: black;
  background: linear-gradient(45deg, #BF7D13, #BF402A);
}
@media (min-width: 600px) {
  .header {
    background: linear-gradient(180deg, rgb(0, 0, 0, 0.7), rgba(0,0,0,0)), url(../assets/header-background.jpg);
    background-size: cover;
    background-position: top;
    justify-content: flex-start;
  }
  .header h3 {
    font-size: 3.5rem;
    margin-top: 10vh;
    margin-bottom: 0;
  }
  .header p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}