.burgerIcon {
  width: 30px;
  height: 30px;
  margin: 15px 0;
  cursor: pointer;
}
.burgerIcon:hover svg {
  opacity: .6;
}
@media (min-width: 600px) {
  .menuButton {
    display: none;
  }
}
